.edit-event-modal .modal-content {
    width: 80% !important;
    max-width: 100% !important;
}

.edit-event-modal .modal-dialog {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 576px) {
    .edit-event-modal .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }
}

.css-1b1fjlj-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
}