.custom-userevents-tabs .nav-link.active {
    background-color: var(--secondary) !important;
    color: var(--text) !important;
}

.custom-userevents-tabs .nav-link {
    color: var(--text) !important;
}