/* Custom styles for your application */
:root {
  --text: #0d1202;
  --background: #f7fded;
  --background2: #eaf0e1;
  --primary: #9de61e;
  --navbar: rgba(157, 230, 30, 1);
  --navbar2: rgba(157, 230, 30, 1);
  --navbar3: rgba(157, 230, 120, 1);
  --secondary: #83f1ab;
  --accent: #5aedcf;
}

.dark {
  --text: #f8fded;
  --background: #0c1202;
  --background2: #181e0e;
  --primary: #98e119;
  --secondary: #0e7c36;
  --accent: #12a588;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
  color: var(--text) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Additional custom styles */
/* .App {
  text-align: center;
} */

.App-header {
  background-color: var(--background); /* Use your custom background */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text); /* Use your custom text color */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* body, html {
  margin: 0;
  padding: 0;
  overflow-x:hidden;  
} */
