.loading-container, .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh; 
    text-align: center;
  }
  
  .spinner {
    border: 12px solid #f3f3f3; 
    border-top: 12px solid #3498db; 
    border-radius: 50%;
    width: 80px; 
    height: 80px; 
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .event-card {
    border: none !important; 
    box-shadow: none !important; 
  }

  .custom-card-body {
    padding-top: 0rem !important; /* Adjust top padding */
    padding-bottom: 0rem !important; /* Adjust bottom padding */
    padding-left: 0rem !important; /* Adjust left padding */
    padding-right: 0rem !important; /* Adjust right padding */
    text-align: start !important;
}

 .card-title {
  white-space: nowrap;      /* Prevents the text from wrapping */
  overflow: hidden;         /* Hides the overflowed text */
  text-overflow: ellipsis;  /* Adds the ellipsis when the text overflows */
}

 .event-image-container {
  position: relative; /* Create a positioning context for absolute children */
  display: inline-block; /* Keep the container sized to the image */
 }

 .event-badge{
    position: absolute; /* Position the badge absolutely */
    top: 10px; /* Adjust the position from the top */
    right: 10px; /* Adjust the position from the right */
 }


 .full-events-page {
  margin-left: 10px;
  display: grid;
  height: calc(100dvh - 85px);
  grid-template-rows: 10% 90%;
 }

 .events-page {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
 }


.event-container {
  display: flex;
  flex-wrap: wrap;      
  gap: 1rem;            /* Add space between the columns */
  overflow-y: auto;     /* Allow vertical scrolling */
  max-width: 100%;      /* Prevent horizontal overflow */
  height: 100%;        /* Full height of the viewport for scrolling */
}


.event-container .col {
  flex: 1 1 100%;       /* cols will take up available space */
  max-width: calc(25% - 1rem); /* 4 cols on large screens */
  box-sizing: border-box;  /* Prevent padding from affecting the width */
}

/* Adjust for smaller screens */
@media (max-width: 1200px) {
  .event-container .col {
    max-width: calc(33.33% - 1rem); /* 3 cols on medium screens */
  }
}

@media (max-width: 768px) {
  .event-container .col {
    max-width: calc(50% - 1rem); /* 2 cols on small screens */
  }
}

@media (max-width: 576px) {
  .event-container .col {
    max-width: 100%; /* 1 col on extra small screens */
  }
}
