.loading-container, .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
  }
  
  .spinner {
    border: 12px solid #f3f3f3; 
    border-top: 12px solid #3498db; 
    border-radius: 50%;
    width: 80px; 
    height: 80px; 
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .event-card {
    border: none !important; 
    box-shadow: none !important; 
  }

  .custom-card-body {
    padding-top: 0rem !important; /* Adjust top padding */
    padding-bottom: 0rem !important; /* Adjust bottom padding */
    padding-left: 0rem !important; /* Adjust left padding */
    padding-right: 0rem !important; /* Adjust right padding */
    text-align: start !important;
}

 .card-title {
  white-space: nowrap;      /* Prevents the text from wrapping */
  overflow: hidden;         /* Hides the overflowed text */
  text-overflow: ellipsis;  /* Adds the ellipsis when the text overflows */
}

 .event-image-container {
  position: relative; /* Create a positioning context for absolute children */
  display: inline-block; /* Keep the container sized to the image */
 }

 .event-badge{
    position: absolute; /* Position the badge absolutely */
    top: 10px; /* Adjust the position from the top */
    right: 10px; /* Adjust the position from the right */
 }