.specific-event-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    align-items: center;
}

.specific-event-container {
    display: flex;
    width: 100%;
    flex-direction: row; 
    max-width: 990px;
}

@media (max-width: 990px) {
    .specific-event-container {
        flex-direction: column; 
        max-width: 485px;;
    }

    .specific-event img {
        width: 100%;
    }

    .specific-event-res {
        padding-left: 0 !important; 
    }

    .specific-event{
        align-items: center;
        max-width: 485px !important;
        padding: 0 1%;
    }

    .specific-event-info {
        align-items: start;
    }
}

.specific-event-res {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    padding-left: 12px;
}

.specific-event-reservation-button {
    display: flex;
    border-radius: 8px;
    height: 2rem;
    background-color: var(--primary);
    justify-content: center;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
}

.specific-event-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.specific-event-info-desc {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.specific-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 990px;
}

.specific-event-res-info {
    display: flex;
    justify-content: space-between;
}

.specific-event-image {
    width: 495px;
    border-radius: 8px;
}